
detect_evaluation/image/\.DS_Store

\.python-version

debug_info\.txt

detect_evaluation/\.DS_Store

detect_evaluation/results_debug/

detect_evaluation/results/\.DS_Store

\.DS_Store

ARCeval_master_public\.zip

ARCeval_master_public/

SegmentEval\.zip

tree_evaluation/mask_ocl\.json
